

<mat-expansion-panel (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false" style="box-shadow: 5px 10px 18px rgba(7, 189, 7, 0.2);margin-top: 2rem;width: 80%;margin-left: auto;margin-right: auto;margin-bottom: 2rem;">
<mat-expansion-panel-header style="background-color: rgba(7, 189, 7, 0.1);border-color: rgba(7, 189, 7);border-style: solid;border-width: 2px;">
  <mat-panel-title>
    NUOVA NOTA
  </mat-panel-title>
  <mat-panel-description>
    Inserisci un nuovo reminder
  </mat-panel-description>
  </mat-expansion-panel-header>

    <label for="post" style="color: rgba(0, 0, 0, 0.5);margin-top: 2rem;display:inline-block;margin-left: 1rem;">NUOVA NOTA</label>
    <div id="post">
      <!-- <div>
        <input matInput type="text" id="fname" placeholder="insert the key" [(ngModel)]="title">
      </div> -->

      <label style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;">Categoria</label>
      <textarea style="display: block;margin-left: auto;margin-right: auto;margin-top: 1rem;height: 30px;width:50%" placeholder="Inserisci la categoria" [(ngModel)]="category"></textarea>
        
      <label style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;">Titolo</label>
      <textarea style="display: block;margin-left: auto;margin-right: auto;margin-top: 1rem;height: 30px;width:50%" placeholder="Inserisci il titolo" [(ngModel)]="title"></textarea>

      <label style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;">Contenuto della nota</label>
      <textarea style="display: block;margin-left: auto;margin-right: auto;margin-top: 1rem;height: 200px;width: 70%;" placeholder="Inserisci il contenuto" [(ngModel)]="content"></textarea>

      <label style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;">Scadenza</label>
      <!-- <textarea style="display: block;margin-left: auto;margin-right: auto;margin-top: 1rem;height: 50px;" matInput placeholder="Inserisci la scadenza" [(ngModel)]="expDate"></textarea> -->
      <mat-form-field style="display: block;margin-left: auto;margin-right: auto;margin-top: 1rem;height: 50px;width: 30%;" appearance="fill">
        <mat-label>Scegli una data</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="expDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!-- <div>
        <input matInput type="text" id="fname" placeholder="Insert the value" [(ngModel)]="content">
      </div> -->

      <button *ngIf="valid==false" mat-raised-button style="display: flex;justify-content: center;text-align: center;margin-left: auto;margin-right: auto;margin-top: 2rem;width:20%;margin-bottom: 1rem;" (click)="onPost()" color="primary">Insert</button>
      <button *ngIf="valid" mat-raised-button style="background-color: green;color: white; display: flex;justify-content: center;text-align: center;margin-left: auto;margin-right: auto;margin-top: 2rem;width:20%;margin-bottom: 1rem;"(click)="onPost()">Insert</button>
    </div>

</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false" style="box-shadow: 5px 10px 18px rgba(0, 0, 255, 0.2);margin-top: 2rem;width: 80%;margin-left: auto;margin-right: auto;margin-bottom: 2rem;">
  <mat-expansion-panel-header style="background-color:rgba(0, 0, 255, 0.1);border-color: rgba(0, 0, 255);border-style: solid;border-width: 2px;">
    <mat-panel-title>
      OTTIENI NOTA
    </mat-panel-title>
    <mat-panel-description>
      Richiedi un reminder specifico per data o tag
    </mat-panel-description>
    </mat-expansion-panel-header>
  
      <label for="get" style="color: rgba(0, 0, 0, 0.5);margin-top: 2rem;display:inline-block;margin-left: 1rem;">OTTIENI NOTA per filtro</label>
      <div id="get">
        <!-- <div>
          <input matInput type="text" id="fname" placeholder="insert the key" [(ngModel)]="title">
        </div> -->
  
        <label style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;">Categoria</label>
        <textarea style="display: block;margin-left: auto;margin-right: auto;margin-top: 1rem;height: 30px;width:50%" placeholder="Inserisci la categoria" [(ngModel)]="categoryFilter"></textarea>
        <label style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;">Titolo</label>
        <textarea style="display: block;margin-left: auto;margin-right: auto;margin-top: 1rem;height: 30px;width:50%" placeholder="Inserisci il titolo" [(ngModel)]="titleFilter"></textarea>
        <label style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;">Data di scadenza</label>
        <mat-form-field style="display: block;margin-left: auto;margin-right: auto;margin-top: 1rem;height: 50px;width: 50%;" appearance="fill">
          <mat-label>Scegli una data entro cui consegnare</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="dataFilter">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field><!-- <div>
          <input matInput type="text" id="fname" placeholder="Insert the value" [(ngModel)]="content">
        </div> -->
  
        <!-- <button style="display: flex;justify-content: center;text-align: center;margin-left: auto;margin-right: auto;margin-top: 2rem;width:20%;margin-bottom: 1rem" mat-raised-button color="primary"> <a style="color: white;" routerLink="/get-output" routerLinkActive="active">Insert</a></button>  (click)="onGet()"  -->
        <button style="background-color:rgba(0, 0, 255, 0.705);color:white;display: flex;justify-content: center;text-align: center;margin-left: auto;margin-right: auto;margin-top: 2rem;width:20%;margin-bottom: 1rem" mat-raised-button (click)="onGet()">Ottieni</button>
      </div>
  
  </mat-expansion-panel>

<!-- <mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false" style="margin-top: 2rem;width: 80%;margin-left: auto;margin-right: auto;margin-bottom: 2rem;">
  <mat-expansion-panel-header style="background-color:rgba(255, 255, 0, 0.63)">
    <mat-panel-title>
      MODIFICA NOTA
    </mat-panel-title>
    <mat-panel-description>
      Modifica una nota con titolo o data
    </mat-panel-description>
    </mat-expansion-panel-header>
  
      <label for="put" style="color: rgba(0, 0, 0, 0.5);margin-top: 2rem;display:inline-block;margin-left: 1rem;">MODIFICA NOTA</label>
      <div id="put">
  
        <label style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;">Titolo</label>
        <textarea style="display: block;margin-left: auto;margin-right: auto;margin-top: 1rem;height: 30px;width:30%" placeholder="Inserisci il titolo" [(ngModel)]="title"></textarea>
  
        <button style="display: flex;justify-content: center;text-align: center;margin-left: auto;margin-right: auto;margin-top: 2rem;width:20%;margin-bottom: 1rem" mat-raised-button (click)="onPut()" color="primary">Insert</button>
      </div>
  
  </mat-expansion-panel> -->

  <mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false" style="box-shadow: 5px 10px 18px rgba(255, 0, 0, 0.2);margin-top: 2rem;width: 80%;margin-left: auto;margin-right: auto;margin-bottom: 2rem;">
    <mat-expansion-panel-header style="background-color:rgba(255, 0, 0, 0.1);border-color: rgba(255, 0, 0);border-style: solid;border-width: 2px;">
      <mat-panel-title>
        ELIMINA NOTA
      </mat-panel-title>
      <mat-panel-description>
        Elimina nota con titolo
      </mat-panel-description>
      </mat-expansion-panel-header>
    
        <label for="delete" style="color: rgba(0, 0, 0, 0.5);margin-top: 2rem;display:inline-block;margin-left: 1rem;">ELIMINA NOTA</label>
        <div id="delete">
          <!-- <div>
            <input matInput type="text" id="fname" placeholder="insert the key" [(ngModel)]="title">
          </div> -->
    
          <label style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;">Categoria</label>
          <textarea style="display: block;margin-left: auto;margin-right: auto;margin-top: 1rem;height: 30px;width:30%" placeholder="Inserisci la categoria" [(ngModel)]="categoryDel"></textarea>
          <label style="display: flex;justify-content: center;text-align: center;margin-top: 1rem;">Titolo</label>
          <textarea style="display: block;margin-left: auto;margin-right: auto;margin-top: 1rem;height: 30px;width:30%" placeholder="Inserisci il titolo" [(ngModel)]="titleDel"></textarea>
          <mat-form-field style="display: block;margin-left: auto;margin-right: auto;margin-top: 1rem;height: 50px;width: 50%;" appearance="fill">
            <mat-label>Le note prima di questa data verranno eliminate</mat-label>
            <input matInput [matDatepicker]="picker3" [(ngModel)]="dataDel">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
          <!-- <div>
            <input matInput type="text" id="fname" placeholder="Insert the value" [(ngModel)]="content">
          </div> -->
    
          <!-- DELETE ALL -->
          <section class="example-section">
            <mat-slide-toggle
                class="example-margin"
                [color]="color"
                [(ngModel)]="deleteAll"
                [checked]="deleteAll">
              Elimina tutto
            </mat-slide-toggle>
          </section>

          <button style="display: flex;justify-content: center;text-align: center;margin-left: auto;margin-right: auto;margin-top: 2rem;width:20%;margin-bottom: 1rem" mat-raised-button (click)="onDelete()" color="primary">Insert</button>

        </div>
    
    </mat-expansion-panel>


<br>
<br>